@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hover_border {
    @apply border border-zinc-900 hover:border-zinc-800 transition-colors ease-in-out;
  }
}

.color_image {
  @apply text-blue-300;
}

.color_scene_data {
  @apply text-indigo-300;
}

.use_write {
  @apply text-amber-300 hover:text-zinc-50 border border-zinc-900 rounded-lg hover:border-amber-300 transition-colors;
}

.use_read {
  @apply text-indigo-300 hover:text-zinc-50 border border-zinc-900 rounded-lg hover:border-indigo-300 transition-colors;
}